# ======================================
# Python
# ======================================
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
*.egg

# ======================================
# Jupyter Notebook
# ======================================
.ipynb_checkpoints

# ======================================
# Virtual Environments
# ======================================
.venv/
env/
ENV/
venv/

# ======================================
# Logs and Debug
# ======================================
*.log
*.tmp

# ======================================
# Environment / Secrets
# ======================================
.env
*.env
secrets.*

# ======================================
# IDEs and Editors
# ======================================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ======================================
# macOS and Windows system files
# ======================================
.DS_Store
Thumbs.db
desktop.ini

# ======================================
# Git and Deployment
# ======================================
*.bak
*.swp
*.orig

*copy.py
*bkp.py
